@import '../../theme.scss';
.compact-crit-card-background{
    box-sizing: border-box;
    background-color: #EBECF0;
    box-shadow: -7px -7px 12px $color-white, 7px 7px 12px $color-shadow;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    
    &>.compact-crit-header{
        text-align: center;
        padding: 12px 0;
        font-weight: bold;
        
    }
    &>.compact-crit-body{
        display: flex;
        justify-content: center;

        &>img{
            width: 100%;
            height: 14rem;

        }
    }
    &>.compact-crit-footer{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        height: 1.5rem;
        font-size: 0.9em;

        &>.compact-footer-action
        {
            display: flex;
            align-items: center;
            &>span:last-child{
                color: #FABC12;
                margin-left:5px;
            }
        }
    }
}
@media(max-width: 720px){
    .compact-crit-card-background{
        margin: 14px 24px;

    }
}